body{
    /*margin:0;*/
    font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif 
}
a{
    text-decoration:none 
}
div#wrapper{
   width: 100%;
}
h2 {
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header for all */
header {
    background-color: #1E3151;
    display: block;
    height: 135px;
}
/*logo : 30 nov 2019*/
#wrapper .logo {
    width: 30%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
a#main_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
}
#main_logo img{
    max-width: 100%;
    max-height: 134px;
}
#wrapper .navbar {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;
    width: 75%;
    float: right;
}
#main_menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main_menu ul li a {
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    padding: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#main_menu ul .sub_menu_ul{
    display:none;
}
ul.sub_menu_ul {
    position: absolute;
    z-index: 99;
    display: none;
    list-style: none;
    background-color: #1E3151;
    padding-left: 10px;
    margin-top: 12px;
}
#about_us_menu:hover ul.sub_menu_ul{
    color:red;
    display: block 
}
ul.sub_menu_ul li {
    padding: 6px;
}
#main_menu ul li a:hover {
    color: #ffffff;
}
#main_menu ul .close {
    display: none;
    text-align: right;
    padding: 10px;
}
#main_menu ul .close span {
    font-size: 40px;
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 0 10px;
    cursor: pointer;
}
.icon-bar {
    padding: 18px 8px;
    width: 50px;
    height: 60px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.icon-bar i {
    background-color: #ffffff;
    height: 2px;
}
.slider_btn {
    width: 100%;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
}
footer{
    background-image: url('../images/footer_home.jpeg');
    height:auto;
    background-position: center;
   /* Center the image */
    background-repeat: no-repeat;
   /* Do not repeat the image */
    background-size: cover;
   /* Resize the background image to cover the entire container */
}
.section_footer{
    width: 79%;
    margin: 0px auto;
    color: #1F304E;
    text-transform: uppercase;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.section_footer div {
    margin: 0 auto;
}
a#footer_logo img{
    width: 42%;
}
.footer_one ul {
   /*5dec2019*/
    list-style: none;
    text-align: left;
    padding: 0;
}
img.social_icon_footer {
    width: 20px;
    height: 17px;
    padding: 0;
    text-align: left;
}
.footer_middle {
    padding: 25px;
    text-align: center;
    flex: 0 0 303px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    padding: 25px;
    background-color: #ffffff;
}
input.footer_subscribe{
    background-color: #364F6B;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
}
input.footer_subscribe:hover {
    background-color: #D9D9DB;
    padding: 20px;
    border-radius: 20px;
    color: #364F6B;
    border: 1px solid #364F6B;
}
.footer_middle p{
    width:100%;
}
.footer_last ul{
   /*5dec2019*/
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#mc_embed_signup{
   background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
}
/*5 dec : new footer*/
.footer_one {
   /*5dec2019*/
    padding: 25px;
    text-align: center;
    flex: 0 0 303px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    padding: 25px;
    background-color: #ffffff;
}
.footer_one ul li {
   /*5dec2019*/
    text-align: center;
}
.footer_last {
   /*5dec2019*/
    padding: 25px;
    text-align: center;
    flex: 0 0 303px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    padding: 25px;
    background-color: #ffffff;
}
.footer_last ul li {
   /*5dec2019*/
    text-align: left;
}
img.social_icon_footer{
    width:20px;
    height:17px;
    padding:0;
    text-align:left 
}
span.footer_subscribe{
    background-color:#db7474;
    border:1px solid #be4040;
    border-radius:12px;
    padding:20px 
}
.footer_last{
    display:flex;
    justify-content:flex-end 
}
.footer_last ul{
    list-style:none 
}
ul.faq_list {
    font-family: "Backpack", "Helvetica", "sans-serif" !important;
    counter-reset: faq-counter;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
ul.faq_list>li:before {
    content: counter(faq-counter, decimal-leading-zero);
    counter-increment: faq-counter;
    position: absolute;
    text-align: right;
    right: 100%;
    padding-right: 8px;
    margin-right: 0;
    border-right: 1px solid #c5cbc8;
    color: #666;
    font-size: 50px;
    height: 100%;
    line-height: 40px;
    top: 0;
}
ul.faq_list>li {
    position: relative;
    padding: 0 10px;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-left: -10px;
    max-width: 900px;
    list-style-type: none;
}
div.faq_intro {
    max-width: 800px;
    background-color: #fff7ff;
    border: 2px solid #e4e4e4;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-self: center;
    padding-left: 10px;
    border-radius: 5px;
    font-family: "Backpack", "Helvetica", "sans-serif" !important 
}
main {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
h2.faq {
    color: black;
}
.tours{
    padding-left: 15px;
    padding-right: 15px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    margin-bottom:16px;
}
.block:last-child{
    margin-right:0;
    box-shadow: inset 0px -4px 5px grey ;
}
.block:first-child{
    box-shadow: inset 0px -4px 5px grey ;
}
.block:not(:first-child):not(:last-child){
    box-shadow: inset 0px -4px 5px grey ;
}
.block{
    margin-right:16px;
    width: 35%;
    position:relative;
    z-index:1;
    box-sizing:border-box;
    background:#fff;
    border-radius:4px;
    box-shadow:0 2px 8px 0 rgba(0,0,0,.12);
    overflow:hidden;
    color:#212121;
    text-decoration:none 
}
.blockimg{
    padding:40px 16px 12px;
    color:#fff;
    background:#333;
    background-position:50%;
    
}
.route{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:6px 
}
.route:last-child{
    margin-bottom:0 
}
.destination{
    margin-right:8px;
    font-size:22px;
    line-height:1.27;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-weight:500;
}
.discount{
    font-weight:500;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    padding:4px;
    height:24px;
    box-sizing:border-box;
    font-size:12px;
    letter-spacing:-.3px;
    border-radius:2px;
    background-color:#ec4628
}
.from{
    font-size:12px;
    line-height:1.33;
}
.text{
    padding:12px 16px;
}
.duration{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    font-size:12px;
    line-height:1.33;
    align-items:center;
}
.p3{
    margin-top:4px;
    font-size:16px;
    font-weight:500;
    line-height:1.25 
}
.description{
    font-family:Roboto,Lucida Grande,Verdana,sans-serif;
    position:relative;
    margin-top:8px;
    height:80px;
    font-size:12px;
    line-height:16px;
    overflow:hidden 
}
.price1{
    font-size:14px;
    font-weight:500;
    line-height:1.4;
    color:#ec4628;
    text-decoration:line-through 
}
.price2{
    font-size:22px;
    font-weight:500;
    line-height:1.2
}
.darkness{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#000000;
    opacity:0;
    transition:opacity 0.2s;
}
.darkness:hover{
    opacity:0.1;
}
p#service1name {
    font-size: 150%;
    font-weight: 700;
}
div.hotelsblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img#hotel1,#hotel2,#hotel3,#hotel4,#hotel5,#hotel6{
    width: 180px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    color: rgb(17, 18, 54);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(17, 18, 54);
    text-size-adjust: 100%;
    box-shadow: inset 0 0 0 1px #dddde5;
    border-radius: .375rem 
}
div.hotelsblock2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img#hotel_1,#hotel_2,#hotel_3{
    width: 300px;
    height: 250px;
    display: block;
}
p#hotelsblockdesc {
    font-size: 120%;
    font-weight: 700;
}
p#hotelsblockdesc1 {
    font-size: 90%;
}
div.hotel_1,.hotel_2,.hotel_3{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 310px;
}
div.carblocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img#car1,img#car2,img#car3,img#car4,img#car5,img#car6{
    width: 180px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    color: rgb(17, 18, 54);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(17, 18, 54);
    text-size-adjust: 100%;
    box-shadow: inset 0 0 0 1px #dddde5;
    border-radius: .375rem 
}
div.carblock2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img#car_1,#car_2,#car_3{
    width: 300px;
    height: 250px;
    display: block;
}
p#carblockdesc {
    font-size: 120%;
    font-weight: 700;
}
p#carblockdesc1 {
    font-size: 90%;
}
div.car_1,.car_2,.car_3{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 310px;
}
img#serviceoverview_1,img#serviceoverview_2,img#serviceoverview_3{
    width: 300px;
    height: 250px;
    display: block;
}
p#serviceoverviewdesc {
    font-size: 120%;
    font-weight: 700;
}
p#serviceoverviewdesc1 {
    font-size: 90%;
}
div.serviceoverview_1,.serviceoverview_2,.serviceoverview_3{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 310px;
}
div.serviceoverviewblock {
    width: 1000px;
    height: 500px;
    margin-top: 20px;
    background-color: #F1F2F7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    body {
        margin: 2px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   }
    div.carblocks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
   }
    img#car1,img#car2,img#car3,img#car4,img#car5,img#car6{
        width: 135px;
        height: 60px;
   }
    div.carblock2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
   }
    div.hotelsblock2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
   }
    img#hotel1,#hotel2,#hotel3,#hotel4,#hotel5,#hotel6{
        width: 135px;
        height: 60px;
   }
    
    div.hotelsblock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
   }
    div.serviceoverviewblock {
        width: 700px;
        height: 450px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
   }
    .tours{
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
   }
    .block{
        width:85%;
   }
    ul.faq_list>li {
        max-width: 750px;
   }
    div.faq_intro {
        max-width: 640px;
   }
   /*nav#main_menu ul.main_menu_ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        text-decoration: none;
        font-size: 25px;
   }
   */
   /*menu */
    #wrapper .logo {
        flex: 1;
   }
    #wrapper .navbar {
        flex: 0;
   }
    #main_menu ul {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: fixed;
        left: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #ffffff;
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s;
        z-index: 9;
   }
    #main_menu ul li a {
        padding: 10px;
        font-size: 16px;
        height: auto;
        line-height: normal;
        color: #555555;
   }
   #main_menu ul .close {
    display: block;
}
.icon-bar {
    color: white;
    font-size: 35px;
    float: right;
}
#main_menu ._Menus-show {
    left: 0;
}
   
}
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #213250;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
} 
